.cabecalho h1 {
    margin: 0;
    color:aquamarine;
    font-size: 1.4rem;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    padding: 40px 90px;
    align-items: center;
}

.conteudo {
    padding: 25px 100px;
    height: fit-content;
    margin-bottom: 200px;
}

.cadastro {
    color: #fff1ff;
    background-color: dodgerblue;
    border-radius: 10px;
    padding: 10px 50px;
    margin: 0px;
}

.entrar {
    border-bottom: solid;
    border-color: dodgerblue;
    padding: 5px 50px;
    font-weight: bold;
}